/* reset */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* --------------- */

.card {
  background-color: #0000001f;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#page {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;

  display: grid;
  gap: 1rem;

  grid-template-columns: 2fr 7fr 3fr;
  grid-template-rows: 3rem 1fr 3rem;

  grid-template-areas:
    "nav header aside"
    "nav main aside"
    "footer footer footer";
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
  height: 200vh;
}

footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
}

#navbar-toggle {
  display: none;
}

@media screen and (max-width: 1264px) {
  #page {
    grid-template-columns: 1fr 8fr 3fr;
  }
}

@media screen and (max-width: 960px) {
  #page {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  }

  nav {
    display: none;
  }

  #navbar-toggle {
    display: inline;
  }
}

@media screen and (max-width: 600px) {
  #page {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  aside {
    display: none;
  }
}
